.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
.vscode
.idea
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
npm-debug.log
yarn-error.log
Dockerfile
docker-compose*.yml
